html{
    font-size: 14pt;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    min-height: 100vh;
}

nav{
    background: #1E6E93;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    text-align: center;
}

nav ul li a{
    font-size: 1.25rem;
}

h1, h2, h3{
    color: white;
    text-transform: uppercase;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

img{
    max-width: 100%;
    height: auto;
}

form{
    background-color: #333;
    color: white;
    border-radius: 5px;
}

form input{
    height: 40px;
}

form textarea{
    min-height: 150px;
    max-height: 150px;
}

iframe{
    border-radius: 5px;
}
 
i{
    color: #DE8A68;
}

footer{
    background-color: black;
    color: white;
}

footer p{
    font-size: 1rem;
}

footer a{
    text-decoration: none;
    color: #DE8A68;
    border-radius: 5px;
}

footer a:hover{
    background-color: #DE8A68;
    color: white;
}

footer a:hover i{
    color: white;
}

#productTitle{
    color: black;
}

#nav-list{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    top: 0;
    right: 0;
    z-index: 2;
}

#dropdown{
    text-align: center;
}

#overOns, #spotlight{
    background-color: #1E6E93;
    color: white;
}

#imageWrap{
    position: relative;
    left: 25%;
    height: 400px;
    width: 400px;
}

#left, #right{
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 45%;
}

#left:hover, #right:hover{
    cursor: pointer;
}

#left{
    left: 0;
}

#right{
    right: 0;
}

#image2, #image3{
    display: none;
}

#overOns{
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
}

#overOns a{
    font-size: 1.25rem;
}

#contact h2{
    color: black;
}

.product{
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.product h3{
    color: black;
}

.product p{
    font-size: .9rem;;
}

.primary-button{
    background-color: #DE8A68;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.primary-button:hover{
    background-color: #fff;
    color: #DE8A68;
}

.link{
    color: #DE8A68;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
}

.link:hover{
    background-color: #DE8A68;
    color: white;
}

.sliderImage{
    height: inherit;
    width: inherit;
}

.category:hover{
    transform: scale(1.1);
}

.accent{
    color: #A3C6A5;
    font-weight: bold;
}

.transition{
    transition: .25s;
}

@media screen and (min-width: 768px){
    #nav-list{
        display: block;
        position: inherit;
        height: inherit;
        width: inherit;
        background-color: #1E6E93;
    }
}